.header-sitename {
    font-size: 2em;
}

.search-results {
    background-color: #fff;
}

.chroma {
    overflow: auto
}

.fa {
    margin-right: 5px;
}

/* RESPONSIVE */

@media screen and (max-width: 1300px) {
	.header {
		text-align: center;
	}
	.header-right {
		float: none;
		display: inline-block;
		margin: 0 20px;
	}
}

@media screen and (max-width: 450px) {
	.header-sitename {
		font-size: 1.5em;
    }
    .header-right {
		display: none;
	}
}